name: Pull request

permissions:
  contents: read

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@0.0.6
    with:
      linux_os_versions: '["amazonlinux2", "bookworm", "noble", "jammy", "rhel-ubi9"]'
      linux_swift_versions: '["6.1", "nightly-main"]'
      linux_pre_build_command: |
        if command -v apt-get >/dev/null 2>&1 ; then # bookworm, noble, jammy
          # Test dependencies
          if command -v sudo &> /dev/null && [ "$EUID" -ne 0 ]; then
            sudo apt-get update -y
            sudo apt-get install -y procps
          else
            apt-get update -y
            apt-get install -y procps
          fi
        elif command -v dnf >/dev/null 2>&1 ; then # rhel-ubi9
          dnf update -y

          # Test dependencies
          dnf install -y procps
        elif command -v yum >/dev/null 2>&1 ; then # amazonlinux2
          yum update -y

          # Test dependencies
          yum install -y procps
        fi
      linux_build_command: 'swift test && swift test -c release && swift test --disable-default-traits'
      windows_swift_versions: '["6.1", "nightly-main"]'
      windows_build_command: |
        Invoke-Program swift test
        Invoke-Program swift test -c release
        Invoke-Program swift test --disable-default-traits
      enable_macos_checks: true
      macos_xcode_versions: '["26.0"]'
      macos_build_command: 'xcrun swift test && xcrun swift test -c release && xcrun swift test --disable-default-traits'
      enable_linux_static_sdk_build: true
      enable_android_sdk_build: true
      android_ndk_versions: '["r27d", "r29"]'
      linux_static_sdk_versions: '["6.1", "nightly-6.2"]'
      linux_static_sdk_build_command: |
        for triple in aarch64-swift-linux-musl x86_64-swift-linux-musl ; do
          swift build --swift-sdk "\$triple"
          swift build --swift-sdk "\$triple" --disable-default-traits
        done
        # empty line to ignore the --swift-sdk given by swiftlang/github-workflows/.github/workflows/scripts/install-and-build-with-sdk.sh \

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@0.0.6
    with:
      license_header_check_project_name: "Swift.org"
      docs_check_enabled: false
      format_check_enabled: true
      unacceptable_language_check_enabled: false
      api_breakage_check_enabled: false

  cmake_build:
    name: CMake Build
    runs-on: ubuntu-latest
    container: swiftlang/swift:nightly-noble
    steps:
      - name: checkout sources
        uses: actions/checkout@v1
      - name: Install dependencies
        shell: bash
        run: apt update && apt install -y cmake ninja-build
      - name: Configure Project
        shell: bash
        run: cmake -G 'Ninja' -B build -S . -DCMAKE_C_COMPILER=clang -DCMAKE_Swift_COMPILER=swiftc -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=YES
      - name: Build Project
        shell: bash
        run: cmake --build build
